*{
    margin: 0;
    padding: 0;
}
.clock{
    position: relative;
    width: 50vmin;
    height: 50vmin;
   top: 10vw;
    background-image: url(clock.png) ;
    background-size: 100%;
    margin: auto;
}
.hand{
    
    border-radius: 10px;
    position: absolute;
    transform-origin: bottom;
   background-color: black;
   

}

#hour{
    width: 3%;
    height: 25%;
    left: 48.5%;
    top: 25.85%;
   


}
#minute{
    width: 3%;
    height: 35%;
    left: 48.45%;
    top: 16.5%;
   

  
  
}
#second{
    width: 2%;
    height: 45%;
    left: 48.85%;
    top: 6.5%;
   
}