.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 0;}
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background: #000;
    color:  hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Figtree', sans-serif;
}
.container{
    width: 300px;
    height: 70vh;
    background:  hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}
.links{
    width: 100%;
    height: 7vh;
    background: hsl(0, 0%, 12%);
    border-radius: 10px;
    text-align: center;
}
img{
    height: 10vh;
    border-radius: 5vh;
}
p{
    margin: 0;
    font-size: 14px;
}
.green{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}
h1{
    margin: 0;
}
.grey{
    color: hsl(0, 0%, 35%);
    font-weight: 400;
}
a{
 color: inherit;
 text-decoration: none;
 line-height: 7vh;
 font-weight: 700;
}
.links:hover{
background:  hsl(75, 94%, 57%);
color: black;
}